<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "КліНіка", "", class:"btn btn-lg btn-success", id: "logo" %>
    <div class="nav_item">
      <%= link_to "HOME", "", class: "btn btn-default btn-warning" %>
    </div>
     <div class="nav_item">
      <%= link_to "BLOG", "", class: "btn btn-default btn-warning" %>
    </div>
     <div class="nav_item">
      <%= link_to "GALLERY", "", class: "btn btn-default btn-warning" %>
    </div>
     <div class="nav_item">
      <%= link_to "CONTACT", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</header>